<h1>Welcome to EHR logger</h1>

<h2>Did you know your health is largely a reflection of 12 organ, tissue, and cellular biometrics?</h2>

  <h4>Glucose is a carbohydrate that serves as the body's primary source of energy... It is especially important in maintaining brain function, digestion, a metabolism.</h4>

  <h4>The normal concentration of glucose in the blood (i.e. "blood glucose") should be about 0.1%.</h4>

  <h4>However, because of diet and lifestyle factors, high levels of blood glucose have become common in our society.</h4>

  <h4>In fact, over 25 million Americans, (including 11% of adults) are diabetic. Of these 25 million, an estimated 7 million dont know they are diabetic.</h4>

  <h4>And an astounding 80 million more are prediabetic, meaning these people's blood glucose are on a trajectory toward diabetes.</h4>

  <h4>Diabetics are at elevated risk for hyperglycemia, heart disease, stroke, kidney failure, nerve damage, blindness, coma, and prematrure death.</h4>

<!-- <h4>BMI(Body Mass Index):</h4>
  <p>Explain what BMI is?</p>
<h4>Vitamin D: </h4>
  <p>Explain what Vitamin D is?</p> -->
