<h1>Welcome to Biometrics Health App</h1>

<h2>Types Of Biometrics</h2>

<h4>Glucose:</h4>
  <p>Explain What glucose is?</p>
<h4>BMI(Body Mass Index):</h4>
  <p>Explain what BMI is?</p>
<h4>Vitamin D: </h4>
  <p>Explain what Vitamin D is?</p>
