<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Metrics Log</title>
  </head>

  <body>
    <h1>Welcome to EHR Logger:</h1>

    <%= link_to "User Biometrics", user_biometric_path %>
    <div>
      <p>Did you know your health is largely a reflection of 12 organ, tissue, and cellular biometrics?</p>
    </div>

    <!-- <div/>
    <img src="/image/Metriclog.jpg" alt="picture of a phone"/>
    </div> -->

    <div>
      <ol>
        <li>Glucose</li>
        <li>Blood Pressure</li>
        <li>Blood Counts</li>
        <li>BMI</li>
        <li>Cotinine</li>
        <li>Cholesterol</li>
        <li>Iron</li>
        <li>Inflammation</li>
        <li>Liver Function</li>
        <li>Kidney Function</li>
        <li>Waist Circumference</li>
        <li>Vitamin D</li>
      </ol>
    </div>
  </body>
</html>
